*/build/*
*/cmake-build-debug/*
*/cmake-build-release/*
*.idea*
*CMakeCache.txt
*CMakeFiles*
*cmake_install.cmake
*.cbp
thread_example
udp_server
udp_socket
moving_constructor
std_thread
*.swp
qnx_timers
*.cproject
*.project
Makefile
